/* Geral */
html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.header {
  margin-bottom: 90px;
}

.name-header {
  border-bottom: 1px solid #CCC;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.separador {
  border-top: 1px solid #CCC;
  padding-top: 15px;
  margin-bottom: 20px;
}

thead {
  background-color: #EEE;
}

tbody {
  background: white;
}

.center-text {
  text-align: center;
}

.corpo {
  margin: 0 auto;
  width: 94%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: #efefef;
}

footer img {
  height: 60px;
}


/* Tela de login */
.login_box {
  margin-top: 130px;
  margin-bottom: 130px;
  background: white;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    4px 4px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         4px 4px 10px 0px rgba(50, 50, 50, 0.75);
}

.login_box img {
  padding-top:15px;
}

.login_box h3 {
  padding-bottom: 10px;
  color: #228C67;
  text-shadow: 2px 2px #DDD;
}

.field_login {
  margin-top: 15px;
}

.button_login {
  margin-bottom: 15px;
}


/* Novo usuário */
.new_user_box {
  margin-top: 170px;
  background: white;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    4px 4px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         4px 4px 10px 0px rgba(50, 50, 50, 0.75);
}
